<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>Document</title>
</head>
<body>
    <form>
        <div class="container">
          <h1>Already have an account?</h1>
          <p>Please enter your username and password:</p>
          <hr>
      
          <label for="username"><b>Username</b></label>
          <input type="text" id="username" placeholder="Enter Username" name="username" required>
      
          <label for="psw"><b>Password</b></label>
          <input id = "password" type="password" placeholder="Enter Password" name="psw" required>
      
          <button id="submit-btn" type="submit">Submit</button>
          <hr>
      
        
      </form id="message">
      <div id="message"></div>
      <script>

        function displayMessage(content) {
          $("#message").text(content);
        }
       
        $("#submit-btn").on("click", function(evt) {
            evt.preventDefault();
            var userPassword = $("#password").val();
            var userName = $("#username").val();


            // console.log(userPassword);
            $.ajax({
                method: 'POST', 
                url: '/api/login',
                data: {
                    username: userName,
                    password: userPassword,
                }
              
            })
            .then(function(response) {
              console.log(response);
              console.log('testtest');
              if (response.success) {
                window.location.assign("/index");
              }
            })
            .catch(function(e) {
              switch(e.status) {
                case 400:
                  displayMessage("Invalid fields");
                  break;
                case 401:
                  displayMessage("Wrong user or password");
                  break;
                default:
                  displayMessage("Got an error: " + e.status);
                  break;
              }
            });

          })
      </script>
</body>
</html> 