html, body, textarea, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

textarea, input, h2 {
  font-family: 'Quicksand', sans-serif;
}

textarea {
  margin-top: 15px;
}

h2 {
  color: rgb(136, 132, 132);
  font-size: 20px;
}

h5 {
  font-size: 9px;
  text-align: center;
  width: 85%;
  margin-top: 20px;
  margin-bottom: 25px;
  line-height: 1.5;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  color: #92929D;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.app-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 7fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

/* -------- ICONS -------- */

.icons {
  grid-column: 1;
  grid-row: 1/5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #696974;
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid rgb(165, 157, 157);
  margin-top: 50px;
  position: relative;
}

.delete-button {
  font-size: 18px;
  background-color: #696974;
  color: white;
  text-decoration: none;
  position: fixed;
  right: 41px;
  top:-36px;
}

/* -------- TITLES -------- */

.items-input {
  border: none;
  border-bottom:1px solid lightgrey;
  border-right: none;
  border-left: none;
  width: 92%;
  height: 5em;
  resize: none; 
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
}

.titles {
  height: 100%;
  width: 100%;
  grid-column: 2;
  grid-row: 1 / 5;
  overflow: auto;
  border: .5px solid;
  border-color: rgb(235, 225, 225);
}

.items {
  list-style-type: none;
  padding: 0;
  margin-left: 15px;
}

.notes-nav {
  border: none;
  padding: 10px;
  width: 90%;
  margin-left: 11px;
  border: none;
  border-bottom:1px solid lightgrey;
  border-right: none;
  border-left: none;
  resize: none; 
}

#title-name {
  font-size: 16px;
  border: none;
  margin-left: 5px;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

/* -------- TEXT AREA -------- */

#title-name {
  font-size: 24px;
  width: 100%;
  height: 2em;
  text-decoration: none;
  margin-left: 65px;
  margin-top: 10px;
}

.notes {
  height: 75%;
  width: 90%;
  grid-column: 3;
  grid-row: 1 / 5;
  position: relative;
}

#write-notes {
  font-size: 16px;
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  margin-left: 68px;
  margin-top: 5px;
}

.done-div {
  grid-column: 3;
  grid-row: 2 / 3;
}

hr {
   margin-left: 55px;
}

/* Sign up page */

.landing-page-container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  height: 100vh;
}

.right, .left{
  justify-content: center;
  align-items: center;
  margin: auto;
}

.right {
  height: 412px;
  width: 360px;
  background-color: #ffffff;
  border-radius: 25px;
}

#password, #username {
  padding: 10px;
  font-size: 12px;
  border-radius: 12px;
  background-color: white;
  border: solid .5px lightgrey;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  width: 320px;
  height: 38px;
  font-family: 'Poppins', sans-serif;
  background-color: #F1F1F5;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left h3 {
  font-family: 'Bershire Swash', sans-serif;
  color: rgb(214, 212, 98);
  text-align: center;
  font-size: 24px;
  font-weight: lighter;
  background-color: #021e63;
}

.logo {
    width: 230px;
    height: 54px;
    position: relative;
    top: -67px;
    left: 56px;
}

#sign-up-header {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif;
}


.landing-page-container {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}

.landing-page-background {
  background-color: #696974;
}

.save-button, .save-note-button {
  padding: 7px;
  font-size: 18px;
  background-color: #696974;
  color: white;
  text-decoration: none;
  position: fixed;
  right: 100px;
  top: 15px;
}

.update-button {
  padding: 7px;
  font-size: 18px;
  background-color: black;
  color: white;
  text-decoration: none;
  position: fixed;
  right: 60px;
  top: 15px;
}

#submit-btn {
  background-color: #0062FF;
  color: #ffffff;
  height: 38px;
  width: 320px;
  border-radius: 12px;
  margin-bottom: 55px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.right a {
color: #0062FF;
font-size: 12px;
font-family: 'Poppins', sans-serif;
}

.redirect {
  font-size: 12px;
  color: #0062FF;
  font-family: 'Poppins', sans-serif;
}

/* Code Snippet */

#editor {
position: absolute;
top: 57px;
right: 0;
bottom: 0;
left: 20px;
width: 100%;
height: 100%;
margin: 0;
padding: 0;
font-family: 'Quicksand', sans-serif;
font-family: 'Quicksand', sans-serif;
margin-top: 15px;
}

@media only screen and (max-width: 909px) {
  .logo {
    visibility: hidden;
  }
}